body {
    overflow: hidden;
    margin: 0;
    background-color: #87CEEB;
}

#gameCanvas {
    background: url('water.png') repeat;
    display: block;
}

#hud {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    width: 200px;
    background-image: 'Fighter1.jpg';
}

.bar-container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}

.bar {
    height: 20px;
    transition: width 0.2s ease-in-out;
}

#fuelBar {
    background-color: yellow;
    width: 100%;
}

#healthBar {
    background-color: red;
    width: 100%;
}

#hygieneBar {
    background-color: green;
    width: 100%;
}

#warning {
    position: absolute;
    top: 70px;
    left: 10px;
    font-size: 20px;
    color: red;
    display: none;
}

#gameOverScreen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}